<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form ng-submit="main.compare(main.url1, main.url2)">
        <div class="form-group">
          <label class="control-label">First product url:</label>
          <input type="text" class="form-control" ng-model="main.url1" required>
        </div>
        <div class="form-group">
          <label class="control-label">Second product url:</label>
          <input type="text" class="form-control" ng-model="main.url2" required>
        </div>
        <input type="submit" value="Compare" class="btn btn-primary btn-block" ng-click="main.compare(main.url1, main.url2)">
      </form>
    </div>
  </div>
</div>
